<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add</title>
</head>
<body>
  <form action="/todoAdd">
    <div>
      todoTitle : <input type="text" name="todoTitle">
    </div>
    <div>
      detail : <input type="text" name="detail1">
    </div>
    <!-- <script>
      const add = document.querySelector("#detailAdd");
      add.addEventListener("click", () = {
        var divTag = document.createElement("div");
        var inputTag = document.createElement("input");
        var buttonTag = document.createElement("button");
        });
      </script> -->
      
      <button>추가하기</button>
  </form>
  <form action="/"><button>취소</button></form>
</body>
</html>