<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>detail</title>

</head>



<body>
  <h1>DETAIL</h1>
  <form th:action="@{/detail/update/{todoNo}(todoNo=${todo.todoNo})}">
    <table border="1" style="border-collapse: collapse;">
      <thead>
        <tr>
        <tr>
          <th>todoNo</th>
          <th>todoTitle</th>
          <th>todoComplate</th>
          <th>todoDate</th>
        </tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th th:text="${todo.todoNo}">todoNo</th>
          <td th:text="${todo.todoTitle}">todoTitle</td>
          <td th:text="${todo.todoCheck}">todoComplate</td>
          <td th:text="${todo.todoDate}">todoDate</td>
        </tr>
        <tr>
          <th colspan='4'>상세 내용</th>
        </tr>
        <th:block th:each="d:${detail}">
          <tr>
            <td colspan='4'><a th:href="@{/delete/{d}/{todoNo}(d=${d}, todoNo=${todo.todoNo})}" th:text="${d}" id="delete"></a></td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <button>상세 내용 추가하기</button>
  </form>
  <form th:action="@{/todoDelete/{todoNo}(todoNo=${todo.todoNo})}"><button id="todoDelete">삭제하기</button></form>
  <form action="/"><button>메인 화면으로 가기</button></form>
  <form action="/complate">
    <button>완료 여부 변경</button>
    <input type="hidden" name="todoNo" th:value="${todo.todoNo}">
    <input type="hidden" name="complate" th:value="${todo.todoCheck}">
  </form>



  <script>
    const delete1 = document.querySelectorAll("#delete")
    for(let i = 0; i < delete1.length; i++){
      delete1[i].addEventListener("click", () => {
        if(confirm("삭제?")){
          delete[i].submit();
        }
      });
    }

    const todoDelete = document.querySelector("#todoDelete");

    todoDelete.addEventListener("click", () => {
      if(confirm("삭제?")){
        todoDelete.submit();
      }
    })
  </script>
</body>

</html>