<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.todolist.mapper.TodoListMapper">

	<select id="selectTodoList" resultType="todoDTO">
		SELECT 
			TODO_NO, 
			TODO_TITLE, 
			TODO_CHECK, 
			TO_CHAR(TODO_DATE, 'YYYY-MM-DD HH24:MI:SS') TODO_DATE 
		FROM TB_TODO
		WHERE TODO_NO > 0
		ORDER BY TODO_NO ASC 
	
	</select>
	
	
	<select id="selectComplateCount" resultType="_int">
		SELECT COUNT(*) 
		FROM TB_TODO
		WHERE TODO_NO > 0
		AND TODO_CHECK = 'O'
	</select>

	<select id="selectDto" parameterType="_int" resultType="todoDTO">
		SELECT * FROM TB_TODO
		WHERE TODO_NO = #{todoNo}
	</select>
	
	<select id="detail" parameterType="_int" resultType="String">
		SELECT DETAIL
		FROM TB_DETAIL
		WHERE TODO_NO = #{todoNo}
	</select>
	
	<select id="selectNo" resultType="_int">
		SELECT MAX(TODO_NO)+1
		FROM TB_TODO
	</select>
	
	<insert id="todoAdd">
		INSERT INTO TB_TODO
		VALUES (#{todoNo}, #{todoTitle}, 'X', DEFAULT)
	</insert>
	
	<insert id="detailAdd">
		INSERT INTO TB_DETAIL
		VALUES (#{todoNo}, #{detail1})
	</insert>

	<insert id="detailupdate">
		INSERT INTO TB_DETAIL
		VALUES (#{todoNo}, #{detailInput})
	</insert>

	<delete id="delete">
		DELETE 
		FROM TB_DETAIL 
		WHERE TODO_NO = #{todoNo} AND DETAIL = #{detail}
	</delete>
	
	<delete id="todoDelete">
		DELETE 
		FROM TB_TODO 
		WHERE TODO_NO = #{todoNo}
	</delete>
	
	<update id="complateX">
		UPDATE TB_TODO
		SET TODO_CHECK = 'O'
		WHERE TODO_NO = #{todoNo}
	</update>
	
	<update id="complateO">
		UPDATE TB_TODO
		SET TODO_CHECK = 'X'
		WHERE TODO_NO = #{todoNo}
	</update>
</mapper>
