<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>asdf</title>
  <style>
    body{
      background-image: url(https://th.bing.com/th/id/OIP.46-cfcJLP8ubXy2BLYOXgwHaEK?w=319&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7);
    }
  </style>
</head>

<body>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
  <h1>오지마</h1>
</body>
</html>